.nav {
    a {
        text-decoration: none;
        font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1rem;
        padding: 10px;

        &.white {
            color: rgb(199, 199, 199);

            &:hover {
                color: white;
                transition: all linear 0.2s;
            }
        }

        &.black {
            color: #696969;

            &:hover {
                color: black;
                transition: all linear 0.2s;
            }
        }
    }
}

.header {
    background-color: rgba($color, 0.9);
}

.footer {
    .start {
        background-color: rgba($color, 0.9);
    }

    .end {
        background-color: rgba($color, 0.98);
    }
}