.pager {
    a {
        color: color-yiq(rgba($color, 0.8));
        background-color: rgba($color, 0.8);
        text-decoration: none !important;
        cursor: pointer;
        margin-bottom: 10px;

        &:hover {
            background-color: rgba($color, 0.5);
            color: color-yiq(rgba($color, 0.5));
        }
    }

    span {
        color: color-yiq($color);
        background-color: $color;
        margin-bottom: 10px;
    }

    .page-number, .space, .extend {
        display: inline-block;
        line-height: 40px;
        font-size: 20px;
        width: 40px;
        text-align: center;
        // border: 1px solid #d1e7ff;

        @extend .mx-2;

        // @extend .shadow-sm;

        &.next, &.prev {
            width: auto !important;

            @extend .px-3;
        }
    }
}
