@import "colors";

img {
    max-width: 100%;
}

/* -------------------------------- 
  
  Modules - reusable parts of our design
  
  -------------------------------- */
.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.cd-container::after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

/* -------------------------------- 
  
  Main components 
  
  -------------------------------- */
.timeline-block {
    // border: 1px solid black;
    .year {
        width: 15rem;
        .number {
            margin-right: 1rem;
            padding-bottom: 0.2rem;
            padding-left: 0.2rem;
            padding-right: 4rem;
            border-bottom: 1px dashed rgba($color, 0.5);
        }
    }
    .left {
        position: relative;
    }
    .marker {
        position: absolute;
        top: calc(50% - 1rem);
        left: -1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
        background: $color;
    }
    .content {
        border-left: 4px dashed $color;
        margin-left: -2px;
        min-height: 100px;
    }
}
