@import "colors";

.card-page {
    border-bottom: 1px solid rgba($color, 0.3);

    .title {
        border-left: 2px solid $color;
        color: $color;
        font-weight: 300;
        font-size: 24px;
    }

    .subject {
        font-size: 16px;
        font-family: Georgia, "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", SimSun, sans-serif;
    }

    .content {
        font-size: 18px;
        font-weight: 400;
        font-family: Roboto, Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", Microsoft JhengHei, WenQuanYi Micro Hei, "Microsoft YaHei", sans-serif;
    }
}