<% page.posts.each(function(post, i){ %>
<%- partial('../_view/article-preview',{post: post}) %>
<% }) %>
<div class="pager my-4">
    <%- paginator({total: page.total, current:page.current }) %>
</div>