<div
  class="footer text-white"
  style="
    background-image: url(/image/cover.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  "
>
  <div
    class="p-3 d-flex align-items-center start justify-content-center"
    style="height: 400px;"
  >
    <div style="font-family: ms;" class="flex-grow-0">
      <h1 class="mx-3 mb-3">About Me</h1>
      <div class="d-flex flex-wrap">
        <% theme.cool_concat.forEach(function(item){ %>
        <a
          href="<%- item.action %>"
          class="item pointer mx-3 my-3"
          style="font-size: 20px;"
        >
          <img
            src="/image/<%- item.icon %>.svg"
            alt="<%- item.text %>"
            height="40"
          />
        </a>
        <% }); %>
      </div>
    </div>
    <div
      class="flex-shrink-0 pl-5 ml-5"
      style="
        font-size: 20px;
        border-left: 1px solid transparent;
        min-width: 400px;
        font-family: ms;
      "
    >
      <h1 class="mx-3 mb-3">Quick Link</h1>
      <div class="mx-3 py-2">
        <a class="text-white mr-4" href="/about">ToolsUI</a>
        <a class="text-white mr-4" href="/about">Spring Boot</a>
        <a class="text-white" href="/about">Android Developer</a>
      </div>
      <div class="mx-3 py-2">
        <a class="text-white mr-4" href="/about">Node</a>
        <a class="text-white mr-4" href="/about">Angular</a>
        <a class="text-white mr-4" href="/about">React</a>
        <a class="text-white mr-4" href="/about">Vue</a>
      </div>
    </div>
  </div>
  <div
    class="text-white p-5 end text-center"
    style="font-size: 16px; font-weight: 300;"
  >
    版权声明 © 2019 cool1024. All Rights Reserved. 赣 ICP备16010587号
  </div>
</div>
