<div
    style="background-image: url(/image/card.png);background-repeat: no-repeat;background-position: bottom right;background-size: contain;">
    <div class="p-3 d-flex align-items-center" style="height: 400px;background-color: #80b5ec69">
        <div style="font-family: ms" class="flex-grow-0">
            <h1 class="mx-5 mb-3">快速导航</h1>
            <div class="d-flex flex-wrap">
                <div class="item pointer mx-5 my-4" style="font-size: 20px;">
                    <img src="/image/github.svg" alt="github" height="40">
                </div>
                <a href="https://www.bilibili.com" class="item pointer mx-5 my-4" style="font-size: 20px;">
                    <img src="/image/bilibili.svg" alt="github" height="40">
                </a>
                <a href="https://www.twitter.com" class="item pointer mx-5 my-4" style="font-size: 20px;">
                    <img src="/image/twitter.svg" alt="github" height="40">
                </a>
            </div>
        </div>
        <!-- <div class="flex-shrink-0 text-center p-5"
            style="font-size: 20px;border-left: 2px solid #b4d6f9;min-width: 400px;">
            <div class="py-2">
                <a class="text-blue" href="/about">About Me</a>
            </div>
            <div class="py-2">
                <a class="text-blue" href="/about">Contact Me</a>
            </div>
        </div> -->
    </div>
    <div class="text-white p-5" style="font-size:20px;font-weight:300;background-color: #80b5ecb0">
        版权声明 © 2019 cool1024. All Rights Reserved. 赣 ICP备16010587号
    </div>
</div>