<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title><%= config.title %></title>
<link rel="icon" type="image/icon" href="<%= theme.cool_up.web_favicon %>" />
<link rel="stylesheet" href="/style/theme.css" />
<!-- <link rel="stylesheet" href="/style/nav.css"> -->
<link rel="stylesheet" href="//at.alicdn.com/t/font_984746_nin6ekrc85j.css" />