<div style="z-index:3;" class="position-fixed w-100 shadow-sm bg-white">
    <nav class="p-3 nav d-flex justify-content- align-items-center">
        <h3 class="m-0 pr-3" style="font-family: ms">
            <a href="/">Home</a>
            <a href="/">AboutMe</a>
            <a href="/archives">Archives</a>
        </h3>
    </nav>
</div>
<div style="height: 78px;"></div>