<div style="z-index:3;" class="position-fixed w-100 shadow-sm bg-blue-tint">
    <div class="bg-blue pt-1"></div>
    <div class="container">
        <nav class="p-3 nav d-flex justify-content- align-items-center">
            <a class="navbar-brand mr-2" href="#">
                <img src="<%- theme.cool_up.avatar %>" width="40" height="40"
                    class="d-inline-block align-top rounded-circle bg-blue pointer">
            </a>
            <h3 class="m-0 pr-3" style="font-family: ms">
                <!-- <%- page.title %> -->
                <a href="/">首页</a>
                <a href="/">关于我</a>
                <a href="/">分类</a>
            </h3>
        </nav>
    </div>
</div>
<div style="height: 78px;"></div>