<div class="position-absolute" style="top: 0;left: 0;">
    <nav class="p-2 nav d-flex align-items-center">
        <% theme.cool_nav.forEach(function(item){ %>
        <a class="black" href="<%- item.action %>"><%- item.title %></a>
        <% }); %>
    </nav>
</div>