<div class="position-absolute bg-white w-100" style="top: 0;left: 0;">
    <nav class="static d-flex align-items-center">
        <div class="bg-main brand">
            <h2 class="my-4 mx-3"><%= config.title %></h2>
        </div>
        <% theme.cool_nav.forEach(function(item){ %>
        <a class="black" href="<%- item.action %>"><%- item.title %></a>
        <% }); %>
    </nav>
</div>
<div style="height: 110px;"></div>