<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AboutMe</title>
    <link rel="stylesheet" href="/style/theme.css" />
    <style>
        body {
            margin: 0;
            font-size: 22px;
            font-display: fallback;
            letter-spacing: 0.05em;
            line-height: 2;
        }

        article {
            padding: 15px 20px 40px;
            max-width: 800px;
            margin: 0 auto;
        }

        #logo {
            float: left;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            padding: 10px;
            margin-right: 10px;
        }

        a,
        a:hover,
        a:visited {
            color: inherit;
            text-decoration: none;
            outline: none;
        }

        a.textlink {
            box-shadow: 0 -6px #f0e6f4 inset;
        }
    </style>
</head>

<body style="font-family: ms;" class="p-4">
    <article class="container">
        <header class="d-flex">
            <img class="rounded-circle" alt="cool1024" height="80" width="80" id="logo"
                src="<%- theme.cool_up.avatar %>" />
            <h1> <%- theme.cool_up.name %></h1>
        </header>
        <section style="font-size: 23px;">
            <p class="text-muted" style="text-indent: 100px; margin-top: -40px;">
                <%- theme.cool_up.description %><a class="ml-3" href="/">&lt;- Back Home</a>
            </p>
        </section>
        <div>
            <p>我打江南走过</p>
            <p>那等在季节里的容颜如莲花的开落</p>
            <p>东风不来，三月的柳絮不飞</p>
            <p>你的心如小小的寂寞的城</p>
            <p>恰若青石的街道向晚</p>
            <p>跫音不响，三月的春帷不揭</p>
            <p>你的心是小小的窗扉紧掩</p>
            <p>我达达的马蹄是美丽的错误</p>
            <p>我不是归人，是个过客……</p>
        </div>
    </article>
</body>

</html>