<!DOCTYPE html>
<html lang="en">

<head>
    <%- partial('_partial/head') %>
    <link rel="stylesheet" href="/style/index.css">
</head>

<body>
    <div class="bg-main" style="height:3px;"></div>
    <div class="container position-relative p-0">
        <%- partial('_partial/static-nav') %>
        <%- partial('_partial/article-preview-list') %>
    </div>
</body>

</html>