<!DOCTYPE html>
<html lang="zh_cn">

<head>
    <%- partial('_partial/head') %>
    <link rel="stylesheet" href="/style/index.css" />
</head>

<% var tag = categories_find(site.tags, page.tag) %>

<body>
    <div class="bg-main" style="height: 3px"></div>
    <div class="container position-relative p-0">
      <%- partial('_partial/static-nav') %>
      <div class="content">
        <div class="container articles mx-auto py-2">
        <% var tag = categories_find(site.tags, page.tag) %>
        <% tag.posts.forEach(function(post,i){%>
            <%- partial('_view/article-item',{post: post, no: i+1}) %>
        <%})%>
        </div>
      </div>
      <div class="mt-3"><%- partial('_partial/footer') %></div>
    </div>
  </body>
</body>

</html>