.nav a {
    color: rgb(199, 199, 199);
    text-decoration: none;
    background-color: transparent;
    // text-shadow: 1px 2px 3px #80b5ec;

    &:hover {
        color: white;
        transition: all linear 0.2s;
    }
}

.header {
    background-color: rgba($color, 0.9);
}

.footer {
    .start {
        background-color: rgba($color, 0.9);
    }

    .end {
        background-color: rgba($color, 0.98);
    }
}