.pager {
    a {
        color: $blue;
        text-decoration: none !important;
        cursor: pointer;
        background-color: #d1e7ff;

        &:hover {
            background-color: $blue-tint;
            color: white;
        }
    }

    span {
        color: white;
        background-color: $blue;
    }

    .page-number, .space, .extend {
        display: inline-block;
        line-height: 40px;
        font-size: 20px;
        width: 40px;
        text-align: center;
        border: 1px solid #d1e7ff;

        @extend .mx-2;

        // @extend .shadow-sm;

        &.next, &.prev {
            width: auto !important;

            @extend .px-3;
        }
    }
}
