/** bootstrap **/
img {
  max-width: 100%;
}

/* -------------------------------- 

  Modules - reusable parts of our design

  -------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.cd-container::after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------- 

  Main components 

  -------------------------------- */
.timeline-content {
  position: relative;
}
.timeline-content::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0px;
  left: 50%;
  height: 100%;
  border-right: 1px dashed #444;
}
.timeline-content .timeline-block .year .number {
  padding-bottom: 0.2rem;
  border-bottom: 1px dashed rgba(68, 68, 68, 0.5);
}
.timeline-content .timeline-block .content .marker {
  opacity: 1;
  position: absolute;
  top: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background: #444;
}
.timeline-content .timeline-block .content .marker-left {
  left: -1rem;
}
.timeline-content .timeline-block .content .marker-right {
  right: -1rem;
}