/** bootstrap **/
img {
  max-width: 100%;
}

/* -------------------------------- 

  Modules - reusable parts of our design

  -------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.cd-container::after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------- 

  Main components 

  -------------------------------- */
.timeline-block .year {
  width: 15rem;
}
.timeline-block .year .number {
  margin-right: 1rem;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 4rem;
  border-bottom: 1px dashed rgba(68, 68, 68, 0.5);
}
.timeline-block .left {
  position: relative;
}
.timeline-block .marker {
  position: absolute;
  top: calc(50% - 1rem);
  left: -1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background: #444;
}
.timeline-block .content {
  border-left: 4px dashed #444;
  margin-left: -2px;
  min-height: 100px;
}