/** bootstrap **/
.card-page {
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
}
.card-page .title {
  border-left: 2px solid #444;
  color: #444;
  font-weight: 300;
  font-size: 24px;
}
.card-page .subject {
  font-size: 16px;
  font-family: Georgia, "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", SimSun, sans-serif;
}
.card-page .content {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto, Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", Microsoft JhengHei, WenQuanYi Micro Hei, "Microsoft YaHei", sans-serif;
}