@charset "UTF-8";
/** bootstrap **/
.page-index {
  border-left: 1px solid rgba(68, 68, 68, 0.1);
  font-size: 1rem;
  position: sticky;
  top: 120px;
}
.page-index ul,
.page-index ol,
.page-index dl {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-index ul li,
.page-index ol li,
.page-index dl li {
  margin-left: 20px;
  line-height: 40px;
}
.page-index a {
  color: #444;
}
.article {
  font-family: Georgia, "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", SimSun, sans-serif;
}
.article .article-preview {
  position: relative;
  font-family: Roboto, Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", Microsoft JhengHei, WenQuanYi Micro Hei, "Microsoft YaHei", sans-serif;
}
.article .article-preview p {
  font-size: 18px;
  color: #495057;
}
.article .article-tags {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
}
.article .article-content {
  color: #444;
}
.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #444;
  font-weight: 600;
}
.article .article-content h1 {
  font-size: 25px;
  border-left: 5px solid rgba(68, 68, 68, 0.5);
  padding-left: 5px;
  margin-left: -10px;
}
.article .article-content h2 {
  font-size: 21px;
}
.article .article-content h3 {
  font-size: 18px;
}
.article .article-content h4 {
  font-size: 16px;
}
.article .article-content p {
  line-height: 28px;
  word-break: break-all;
}
.article .article-content ol {
  padding-left: 0px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.article .article-content ol ol {
  padding-left: 20px;
}
.article .article-content ol li {
  position: relative;
  margin-top: 10px;
  font-weight: 400;
}
.article .article-content ul {
  padding-left: 0px;
  margin-bottom: 10px;
}
.article .article-content ul li {
  position: relative;
  list-style: none;
  padding-left: 10px;
  margin-top: 10px;
}
.article .article-content ul li ul {
  padding-left: 20px;
}
.article .article-content ul li::before {
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid #444;
  border-radius: 10px;
  background: #444;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  position: absolute;
  left: 0;
}
.article .article-content strong {
  color: #444;
  font-weight: 600;
}
.article .article-content blockquote {
  position: relative;
  padding-left: 90px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 14px;
  color: #565656;
}
.article .article-content blockquote::before {
  content: "“";
  height: 100px;
  font-size: 139px;
  font-weight: 800;
  font-style: normal;
  font-family: Georgia, "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", SimSun, sans-serif;
  position: absolute;
  left: 10px;
  top: -30px;
  color: rgba(68, 68, 68, 0.3);
}
.article .article-content blockquote p {
  margin: 0;
}
.article .article-content .table thead {
  background-color: #fafcff;
  color: #80b5ec;
}
.article .article-content img {
  max-width: 100%;
}
.article .article-content .highlight {
  background-color: rgba(68, 68, 68, 0.9);
  border: 1px solid #444;
  padding: 15px;
  overflow: auto;
}
.article .article-content .highlight .pre {
  border: none;
  margin: 0;
  padding: 0;
  color: #3d9aff;
}
.article .article-content .highlight pre {
  margin-bottom: 0px !important;
}
.article .article-content .highlight table {
  margin: 0;
  width: auto;
}
.article .article-content .highlight td {
  border: none;
  padding: 0;
}
.article .article-content .highlight tr {
  border: 0;
}
.article .article-content .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article .article-content .highlight figcaption a {
  float: right;
}
.article .article-content .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article .article-content .highlight .line {
  height: 20px;
  color: white;
}
.article .article-content .highlight pre .comment,
.article .article-content .highlight pre .title {
  color: #999;
}
.article .article-content .highlight pre .variable,
.article .article-content .highlight pre .attribute,
.article .article-content .highlight pre .tag,
.article .article-content .highlight pre .regexp,
.article .article-content .highlight pre .ruby .constant,
.article .article-content .highlight pre .xml .tag,
.article .article-content .highlight pre .title,
.article .article-content .highlight pre .xml .pi,
.article .article-content .highlight pre .xml .doctype,
.article .article-content .highlight pre .html .doctype,
.article .article-content .highlight pre .css .id,
.article .article-content .highlight pre .css .class,
.article .article-content .highlight pre .css .pseudo {
  color: #f2777a;
}
.article .article-content .highlight pre .number,
.article .article-content .highlight pre .preprocessor,
.article .article-content .highlight pre .built_in,
.article .article-content .highlight pre .literal,
.article .article-content .highlight pre .params,
.article .article-content .highlight pre .constant {
  color: #f99157;
}
.article .article-content .highlight pre .class,
.article .article-content .highlight pre .ruby .class .title,
.article .article-content .highlight pre .css .rules .attribute {
  color: #99cc99;
}
.article .article-content .highlight pre .string,
.article .article-content .highlight pre .value,
.article .article-content .highlight pre .inheritance,
.article .article-content .highlight pre .header,
.article .article-content .highlight pre .ruby .symbol,
.article .article-content .highlight pre .xml .cdata {
  color: #99cc99;
}
.article .article-content .highlight pre .css .hexcolor {
  color: #66cccc;
}
.article .article-content .highlight pre .function,
.article .article-content .highlight pre .python .decorator,
.article .article-content .highlight pre .python .title,
.article .article-content .highlight pre .ruby .function .title,
.article .article-content .highlight pre .ruby .title .keyword,
.article .article-content .highlight pre .perl .sub,
.article .article-content .highlight pre .javascript .title,
.article .article-content .highlight pre .coffeescript .title {
  color: #6699cc;
}
.article .article-content .highlight pre .keyword,
.article .article-content .highlight pre .javascript .function {
  color: #cc99cc;
}
.article .article-content .highlight pre .meta,
.article .article-content .highlight pre .bash {
  color: #99cc99;
}